* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #2495d6;
    color: #2C2C2C;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: 400; 
    line-height: 1.8em;
    margin: 0;
    padding-bottom: 100px;
}

.container{
    width: 85%;
    margin:auto;
    overflow: hidden;
}

#main-header{
    background-color: #cfb595;
    color: black;
}

#navbar{
    text-align: center;
    background-color: lightgray;
    color: black;
}

#navbar ul{
    padding: 0;
    list-style: none;    
}

#navbar li{
    display: inline;    
}

#navbar a{  
    color:black;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#introduction{
    background-position: center;
    height: 250px;
    text-align: center;
    margin-bottom: 30px;
}


#introduction h2{
    color: #cfb595;
    font-size: 50px;
    padding-bottom: 30px;
    line-height: 1em;
}

#introduction p{
    color: #cfb595;
    font-size: 25px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

#navbar a:hover{  
    color:blue;
    text-decoration: none;
    background-color: silver;    
}

#navbar a:visited{  
    color:red;
    text-decoration: none;
    background-color: fuchsia;    
}

#navbar a:active{  
    color:green;
    text-decoration: none;
    background-color: silver;    
}

#main h3{
    font-family: Tahoma;
    font-size: 24px; 
    text-align: left;
    padding: 10px;
}

#main{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#main2{
    background-color: #fff;
    text-align: left;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#main2 h3{
    font-family: Tahoma;
    font-size: 24px; 
    text-align: left;
}
#one{
    color: black;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

#footer{
    background-color: #cfb595;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}